.animate-img-right {
	opacity: 0;
	transform: translate(calc(100% + 1rem), 0);
	transition: transform .75s .25s cubic-bezier(0,1,.3,1), opacity .3s .25s ease-out;
	will-change: transform, opacity;
}

.animate-img-left {
	opacity: 0;
	transform: translate(calc(-100% + 1rem), 0);
	transition: transform .75s .25s cubic-bezier(0,1,.3,1), opacity .3s .25s ease-out;
	will-change: transform, opacity;
}

.animate-img-right.is-visible, .animate-img-left.is-visible {
	opacity: 1;
	transform: translate(0, 0);
}

.fade-txt {
	opacity: 0;
	transition: opacity .3s .25s ease-out;
	will-change: opacity;
}

.fade-txt.is-visible {
	opacity: 1;
}

/**.product-img {
	opacity: 0;
	transform: translate(0, 100%);
	transition: transform .75s .25s cubic-bezier(0,1,.3,1),  opacity .3s .25s ease-out;
	will-change: transform, opacity;
}

.product-img.is-visible {
	opacity: 1;
	transform: translate(0, 0);
}**/

