html, body {
	height:100%; 
	font-family:'Montserrat', sans-serif; 
	font-size:14px; 
	background-color:#fff; 
	color:#242424; 
	letter-spacing: 0.03rem;
	line-height: 1.8;
}

* {box-sizing: border-box; margin: 0; padding: 0;}

main {
	overflow: hidden;
}

header {
	display: block;
	position: fixed;
	width: 100%;
	z-index: 3;
	background-color: #fff;
	padding: 3rem;
	transition: 0.2s;
}

.header-default {
	padding: 3rem;
}

.header-default.header-shrunk {
	padding: .5rem;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

.logo {
	float: left;
	display: block;
	margin: .5rem;
	width: 8rem;
}

nav {
	margin-top: .5rem;
	font-size: .9rem;
	font-weight: 700;
	line-height: 2.4;
}

nav a {
	color: #242424;
	padding: ;
}

nav ul {
	list-style: none;
	/**overflow: hidden;**/
	background-color: #fff;
}

.menu {
	float: right;
}

nav ul a, nav ul li span {
	display: block;
	padding: 0 1rem;
	text-decoration: none;
}

nav ul li {
	float: left;
	position: relative;
}

nav ul li:hover a {

}

nav ul li.sub:hover a {
	border-bottom: none;
}


ul.menu > li > a {

}

li.nosub > a::before {
	content: '';
	position: absolute;
	width: calc(100% + -2rem);
	height: 3px;
	bottom: 0;
	left: 1rem;
	background: #242424;
	-webkit-transform: scaleY(0);
	-moz-transform: scaleY(0);
	-ms-transform: scaleY(0);
	-o-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: top;
	-moz-transform-origin: top;
	-ms-transform-origin: top;
	-o-transform-origin: top;
	transform-origin: top;
	-webkit-transition: transform 0.15s ease-out;
	-moz-transition: transform 0.15s ease-out;
	-ms-transition: transform 0.15s ease-out;
	-o-transition: transform 0.15s ease-out;
	transition: transform 0.15s ease-out;
	will-change: transform, transform-origin;
}

li.nosub > a:hover::before {
	-webkit-transform: scaleY(1);
	-moz-transform: scaleY(1);
	-ms-transform: scaleY(1);
	-o-transform: scaleY(1);
	transform: scaleY(1);
	-webkit-transform-origin: bottom;
	-moz-transform-origin: bottom;
	-ms-transform-origin: bottom;
	-o-transform-origin: bottom;
	transform-origin: bottom;
}

ul.sub-menu a {
	color: #fff;
}

ul.sub-menu {
	background: #242424;
	white-space: nowrap;
	min-width: 100%;
	display: none;
	position: absolute;
	padding: .5rem 0;
}


ul.sub-menu li {
	display: block;
	float: none;
}

.flag {
	height: 1rem;
    margin-bottom: -0.2rem;
    margin-right: 0.2rem;
}

.menu-btn, .menu-icon {
		display: none;
	}


@media (max-width: 899px) {
	

}


section {
	width: 100%;
	display: inline-block;
}

section#hp {
	height: 100vh;
}

h1 {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 1rem;

}

p {
	font-size: 1rem;
	font-weight: 400;
}

a {
	color: ##0082fb;
	text-decoration: none;
}

#hp h1 {

}

#hp p {
	width: 75%;
}

.hp-container {
	float: left;
	height: 100vh;
	padding-top: 20%;
	width: 100%;
	position: relative;
}

.hp-txt {
	width: 54%;
	padding-left: 6rem;
}

img.dalmatien {
	position: absolute;
    bottom: -9%;
    right: 0;
    width: 46%;
    max-width: 85vh;
}

.arrow {
	text-align: center;
	position: absolute;
	width: 50%;
	bottom: 3rem;
	opacity: 1;
	transition: all .2s ease-out;
}

.arrow.arrow-gone {
	opacity: 0;
}

section#product, section#product-pres-1, section#product-pres-2, section#product-pres-3, section#product-pres-4 {
	padding-top: 16rem;
}

section#product-pres-4 {
	margin-bottom: 10rem;
}

#product h1{
	width: 70%;
	font-size: 1.8rem;
	text-align: center;
	margin: auto;
}

.product-img {
	width: 100%;
	text-align: center;
	padding-top: 7rem;
}

.product-img img {
	width: auto;
	max-width: 70%;
}

.pp-txt {
	width: 62%;
	float: left;
}

.pp-txt h1 {
	font-weight: 500;
	font-size: 1rem;
	text-transform: uppercase;
}

.pp-txt h2 {
	font-weight: 700;
	font-size: 1.8rem;
	margin-bottom: 1rem;
	line-height: 1.2;
}

.pp-txt-container {
	border-left: 1rem solid #ffcccc;
	padding-left: 3rem;
}

.mobile-img-insert {
	display: none;
}

.pp-img {
	background: #55d6be;
	float: right;
	width: 30%;
}

.pp-img img{
	width: calc(100% + -2rem);
	margin: -7rem 0 0.5rem -1rem;
}

#product-pres-2 .pp-txt {
	float: right;
}

#product-pres-2 .pp-img {
	background: #e5e059;
	float: left;
}

#product-pres-2 .pp-img img {
	margin: -6rem 0 0.5rem 3rem;
}

#product-pres-2 .pp-txt-container {
	border-left: none;
	border-right: 1rem solid #79addc;
	padding-left: 0;
	padding-right: 6rem;
}

.btn, button {
	-webkit-border-radius: 10rem;
	-moz-border-radius: 10rem;
	border-radius: 10rem;
	color: #FFFFFF;
	font-size: .9rem;
	font-weight: 700;
	padding: 1rem 2rem;
	background-color: #0082fb;
	border: solid #0082fb 1px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	margin: 0 .5rem 1rem .5rem;
	min-width: 14rem;
}

.btn:hover {
	background: #0066cc;
}

.btn-container {
	margin: 3rem 0 0 -.5rem;
	display: inline-block;
}

#product-pres-3 .pp-txt {
	width: 50%;
	padding-right: 4rem;
}

#product-pres-3 .pp-txt-container {
	border-left: 1rem solid #55d6be;
}

#product-pres-3 .pp-img {
	background: #ffcccc;
	float: right;
	width: 50%;
}

.video {
	width: calc(100% + -2rem) !important;
	height: auto !important;
	margin: -6rem 0 0.5rem -1rem;
	background-color: #000;
}

.store-btn {
	display: inline-block;
	float: left;
	margin: 0 .5rem;
}

.store-btn img {
	width: 12rem;
}

#product-pres-3 .btn-container {
	margin-left: 4rem;
}

#product-pres-4 .pp-txt {
	float: right;
}

#product-pres-4 .pp-img {
	background: #79addc;
	float: left;
}

#product-pres-4 .pp-img img {
	margin: -6rem 0 0.5rem 3rem;
}

#product-pres-4 .pp-txt-container {
	border-left: none;
	border-right: 1rem solid #e5e059;
	padding-left: 0;
	padding-right: 6rem;
}

footer {
	background: #242424;
	width: 100%;
	display: inline-block;
}

.footer-info {
	width: 50%;
	float: left;
}

.footer-info:first-child {
	float: right;
}

.footer-info p {
	text-align: center;
	color: #666;
	padding: 6rem 0;
}

.footer-info:first-child p {
	line-height: 8;

}

.footer-info a {
	color: #666;
}

.footer-info span {
	margin: 0 1rem;
}


/** Support Pages **/

.support-title {
	padding-top: 9rem;
	display: flex;
	background: #e5e059;
}

main#faq .support-title {
	background: #79addc;
}

main#contact .support-title {
	background: #ffcccc;
}

.support-title h1 {
	width: 53%;
	float: left;
	text-align: left;
	margin: auto 0;
	font-size: 6rem;
	padding-left: 10rem;
}

.support-title-img {
	width: 47%;
	float: right;
	margin: 4rem 0 -4rem 0;
}

.support-title-img img {
	width: calc(100% + -10rem);
}

.support section {
	width: 100%;
	float: left;
}

article {
	padding: 0 10rem;
	margin: 10rem 0 0 0;
}

h2 {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

article h2:after {
	content: '';
	width: 4rem;
	height: 1px;
	background: #242424;
	display: block;
	margin: 1rem 0 1.5rem 0;
}

article.contact-box {
	width: 100%;
	float: right;
	background: #e2e2e2;
	padding: 10rem;
}

article.contact-box p {
	margin: 0 0 2rem 0;
}

article.contact-box p.bold, #contact p.bold, span.bold {
	font-weight: 700;
}


article.contact-box p span {
	margin: 0 1rem;
}

img.icon {
	height: 24px;
	margin: 0 0 -.3rem .5rem;
}

h3 {
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

#contact section {
	width: 100%;
	margin-bottom: 10rem;
}

#contact article {
	width: 50%;
	float: left;
}

#contact input, #contact textarea {
	width: 100%;
	background: #efefef;
	min-height: 2rem;
	border: none;
	margin-bottom: 1rem;
	font-family: 'Montserrat', sans-serif;
	padding: 1rem;
}

#contact textarea {
	resize: none;
	height: 16rem;
}

#contact p {
	position: relative;
	padding-left: 8rem;
	margin-bottom: 1rem;
}

span.contact-margin {
	position: absolute;
	left: 0;
}



/** Media Queries **/


@media (min-width: 1679px) {
	html {
		font-size: 115%;
	}
}

@media (max-width: 1199px) {
	html {
		font-size: 90%;
	}
}

@media (max-width: 1199px) { 

	html {font-size: 90%;}

	.pp-img img, 
	.video {
		width: 100% !important;
	}

	#product-pres-4 .pp-img img, 
	#product-pres-2 .pp-img img {
		margin-left: 1rem;
	}

	.store-btn img {width: 12rem;}

	article.contact-box {
		padding: 6rem 10rem;
	}

	#contact article {
		width: 100%;
		margin-bottom: 3rem;
	}

}


@media (max-width: 1023px) {

	#product-pres-3 .pp-txt {
		width: 100%;
		padding: 10% 10% 0 10%;
		text-align: center;
	}

	#product-pres-3 .pp-img {
		background: #fff;
		width: 100%;
		text-align: center;
	}

	#product-pres-3 .pp-txt-container {
		border: none;
		padding: 0;
		text-align: left;
	}

	.video {width: 80% !important}

	#product-pres-3 .btn-container {
		margin: 3rem 0 0 0;
	}
}


@media (max-width: 899px) {

	html {font-size: 80%;}

	header {
	padding: 0;
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
	}

	.header-default {
		padding: 0;
	}

	.header-default.header-shrunk {
		padding: 0;
		box-shadow: none;
	}

	nav a {
		color: #fff;
	}

	nav {
		font-size: 14px;
		position: fixed;
		width: 100%;
		margin-top: 0;
	}

	.menu {
		position: fixed;
		float: left;
		clear: both;
		height: 0;
		background: #242424;
		width: 100%;
		padding: 0 3rem;
		transition: height .2s ease-out;
	}

	.menu-icon {
		display: block;
		padding: 2rem 1.5rem;
		position: relative;
		float: right;
		cursor: pointer;
		z-index: 10;
	}

	.nav-icon {
		background: #242424;
		display: block;
		height: .1rem;
		width: 2rem;
		position: relative;
		transition: background .2s ease-out;
	}

	.nav-icon:before {
		background: #242424;
		content: "";
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		transition: all .2s ease-out;
		top: .7rem;
	}

	.nav-icon:after {
		background: #242424;
		content: "";
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		transition: all .2s ease-out;
		top: -.7rem;
	}

	.menu-btn:checked ~ ul.menu {
		height: 100vh;
	}

	.menu-btn:checked ~ .menu-icon .nav-icon {
		background: transparent;
		z-index: 10;
	}

	.menu-btn:checked ~ .menu-icon .nav-icon:before {
		background: #fff;
		transform: rotate(-45deg);
		top: 0;
	}

	.menu-btn:checked ~ .menu-icon .nav-icon:after {
		background: #fff;
		transform: rotate(45deg);
		top: 0;
	}

	.menu-btn:checked > nav {
		background: pink;
	}

	nav ul {
		overflow: hidden;
	}

	nav ul li {
		float: none;
	}

	ul.menu > li > a {
		padding: 0;
	}

	ul.sub-menu {
		background: transparent;
		position: relative;
		display: block;
		margin-left: 1rem;
	}

	nav ul li span {
		display: none;
	}

	.logo {
		max-height: 2rem;
		width: auto;
		margin: 1rem;
	}

	header {
		position: absolute;
	}

	li.nosub:first-child {
		margin-top: 4rem;
	}

	ul.menu > li:last-child {
		border-top: 1px solid #fff;
		margin-top: 1.5rem;
		padding-top: 1.4rem;
	}

	ul.menu > li:last-child > a {
		text-align: center;
	}

	ul.menu > li:last-child > a:before {
		content: 'Langage : ';
	}

	ul.sub-menu.language {
		margin-left: 0;
	}

	ul.sub-menu.language li {
		float: left;
		width: 25%;
		text-align: center;
	}

	ul.sub-menu.language li a {
		padding: 0
	}

	.arrow {display: none;}

	.logo {margin: ;}

	.support-title {
		padding-top: 4rem;
	}


	.hp-txt {padding: 0 2rem;}

	h1 {font-size: 1.4rem;}

	.support-title h1 {font-size: 4rem;}

	#product h1 {font-size: 1.4rem;}

	section#product {
		padding-top: 8rem;
	}

	section#product-pres-1, 
	section#product-pres-2, 
	section#product-pres-3, 
	section#product-pres-4 {
		padding-top: 12rem;
	}



}


@media (max-width: 899px) and (orientation: portrait) {

	.hp-txt {
		width: 100%;
		margin-bottom: 3rem;
	}

	.hp-container {padding-top: 30%;}

	img.dalmatien {
		width: 83%;
		position: relative;
		float: right;
		bottom: auto;
	}

}

@media (max-width: 899px) and (orientation: landscape) {

	.product-img img {
		max-width: 36%;
	}

	.product-img {
		padding-top: 4rem;
	}

}


@media (max-width: 599px) {

	.hp-container {
		height: auto;
	}

	.product-img {padding-top: 5rem;}

	#hp p {width: auto;}

	.pp-txt {
		width: 100%;
	}

	.pp-img img {display: none;}

	.pp-img, 
	#product-pres-2 .pp-img, 
	#product-pres-4 .pp-img {
		width: 100%;
		padding-top: 42%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

	#product-pres-1 .pp-img {
		background-image: url(../images/woman-smartphone-m.png);

	}	

	#product-pres-2 .pp-img {
		background-image: url(../images/dog-woman-city-m.png);

	}

	#product-pres-4 .pp-img {
		background-image: url(../images/cat-high5-m.png);

	}

	#product-pres-3 .pp-img {
		width: 100%;
		padding: 0;
	}

	.video {
		width: 100% !important;
		margin: 0;
	}



	.pp-img::before {
		display: inline-block;
		content: "";
		border-top: 1rem solid black;
		width: 6rem;
		position: absolute;
		top: -1rem;
		left: 0;
	}

	#product-pres-1 .pp-img::before {
		border-top: 1rem solid #55d6be;
	}

	#product-pres-2 .pp-img::before {
		border-top: 1rem solid #e5e059;
	}

	#product-pres-3 .pp-img::before {
		border-top: 1rem solid #ffcccc;
	}

	#product-pres-4 .pp-img::before {
		border-top: 1rem solid #79addc;
	}

	.pp-txt, #product-pres-3 .pp-txt {
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.pp-txt-container, 
	#product-pres-2 .pp-txt-container, 
	#product-pres-3 .pp-txt-container, 
	#product-pres-4 .pp-txt-container {
		border: none;
		padding: 2rem;
	}

	section#product-pres-1, 
	section#product-pres-2, 
	section#product-pres-3, 
	section#product-pres-4 {
		padding-top: 6rem;
	}

	section#product-pres-4 {
		margin-bottom: 2rem;
	}

	.pp-txt h2, article h2, #faq h2 {
		font-size: 1.4rem;
	}

	.btn-container {
		width: 100%;
		padding: 0;
		margin: 3rem 0 0 0;
		text-align: center;
	}

	#product-pres-3 .btn-container {
		margin: 1rem 0 0 0;
	}

	#product-pres-1 .btn-container {
		display: none;
	}

	.store-btn {
		float: none;
	}

	.store-btn:first-child {

	}

	.footer-info {
		width: 100%;
	}

	.footer-info p {
		padding: 3rem 0;
	}

	.footer-info:first-child p {
		line-height: 1;
		padding-bottom: 0;
	}

	.support section {
		width: 100%;
	}

	article.contact-box {
		width: 100%;
		padding: 2rem;
	}

	footer {
		margin-top: 0;
	}

	.support-title {
		padding-top: 4rem;
	}

	.support-title h1 {
		font-size: 2.5rem;
		padding-left: 2rem;
		width: 55%;
		float: left;
	}

	article {
		padding: 0 2rem;
		margin-top: 6rem;
	}

	.support-title-img img {
		display: none;
	}

	.support-title-img {
		padding-top: 54%;
		background-image: url(../images/dog-woman-computer-m.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		position: relative;
		margin: 1rem 1rem -3rem 0;
	}

	#faq .support-title-img {
		background-image: url(../images/dog-glasses-m.jpg);
	}

	#contact .support-title-img {
		 background-image: url(../images/dog-letterbox-m.jpg);
	}

	#contact p {
		text-align: center;
		padding: 0;
	}
	
	span.contact-margin {
		position: relative;
	}

	#contact article:last-child {
		margin-bottom: 5rem;
	}

}


@media (max-width: 599px) and (orientation: landscape) {

	section#hp {
		height: auto;
	}

	.hp-container {
		height: auto;
		padding-top: 20%;

	}

	.hp-txt {
		width: 100%;
	}

	img.dalmatien {
		position: relative;
		float: right;
	}

	section#product {
		padding-top: 6rem;
	}

}