html, body {height:100%; font-family:'geomanistregular', Helvetica, sans-serif; font-size:100%; background-color:#fff; color:#222; letter-spacing: 0.03rem;}

* {box-sizing: border-box; margin: 0; padding: 0;}

header {
	display: block;
	position: fixed;
	width: 100%;
	z-index: 1;
	padding-right: 7rem;
}

nav {
	float: right;
	font-size: 0.8rem;
	background: #222;
	padding: 1rem 1.6rem;
}

nav ul {
	display: inline-block;
}

nav ul li {
	float: left;
	list-style-type: none;
	margin: 0 0.5rem;
}

nav a{
	color:#fff;
	text-decoration: none;
}



.lan-select {
	font-size: 0.9rem;
	float: left;
}

article {
	width: 50%;
	float: left;
	height: 100%;
	position: absolute;
	padding: 15vh;
}

aside {
	width: 50%;
	float: right;
	height: 100vh;
	padding-top: 61vh;
}

#scroll {
	font-size: 1rem;
    letter-spacing: 0.2rem;
    position: absolute;
    bottom: 0;
    width: calc(100% + -30vh);
    text-align: center;
    padding-bottom: 18vh;
}

#walk{
	position: relative;
    display: inline-block;
    transform: rotate(90deg);
    padding: 0 0.5rem;
    border-bottom: 1px solid #000;
    padding-bottom: 0.5rem;
}


#walk::after {
	content: "\A";
    border-style: solid;
    border-width: 0.3rem 0 0.3rem 0.5rem;
    border-color: transparent transparent transparent #000;
    position: absolute;
    right: -0.25rem;
    top: 1.55rem;
}

.sld {

}

.imghp {
	background: url(../images/looklook.jpg);
	background-size: cover;
	background-position: left bottom;
	width: 100%;
	height: 100%;
}

#hp h1 {
	font-size: 20rem;
	font-size: 38vh;
	line-height: 72%;
	margin: 0;
}

#hp h2 {
	font-size:2.3rem;
	margin-top: 0.8rem;
}

section{}

.sect-cont {
	padding: 3.5rem;
}

h1{
	font-size: 4.5rem;
	font-weight: normal;
	margin: 1.5rem 0;
}

.info-project {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	display: inline-block;
	width: 100%;
}

.info-project ul {
	padding: 1rem 1.5rem;
	display: inline-block;
	float: left;
}

.info-project ul:first-child {
	border-right: 1px solid #000;
}

.info-project li {
	list-style-type: none;
}

p {
	font-size: 1.6rem;
	margin: 1.5rem 0;
	display: inline-block;
}

figure {
	display: inline-block;
	width: 100%;
	border-top: 1px solid #000;
	padding: 3.5rem 0 7rem;
}

figcaption {
	font-size: 1.6rem;
}

figure img {
	margin: 1.5rem 3.5rem 3.5rem 0;
	float: left;
	box-shadow: 0.4rem 0.4rem #bfbfbf;
	max-width: calc(100% - 3.5rem);
}

/*figure:last-child {
	margin-bottom: 7rem;
}*/

#or-inapp img, #or-banners img, #bs-html5 img, #dem-kot img:nth-child(n+3), #blinko-fo img:nth-child(3), #wind-res img {
	box-shadow: none;
}

figure#dem-or-banners img {
	margin: 3.5rem 0 0 3.5rem;
}


figure#wind-res, figure#wind-web {
	border: none;
}


.phone {
width:22rem;
height: 46rem;
position:relative;
background-color:#000;
margin: 0 0 0 6rem;
-webkit-border-radius:2rem; -moz-border-radius:2rem; border-radius:2rem; 
}

.phone::before, .phone:after {
content:'';
background-color: #fff;
left:0;
right:0;
margin:auto;
position:absolute;}

.phone::before { 
height:0.5rem;
width:3rem;
-webkit-border-radius:0.25rem; -moz-border-radius:0.25rem; border-radius:0.25rem;
top:2.6rem;}

.phone:after {
height:2.5rem;
width:2.5rem;
-webkit-border-radius:2rem; -moz-border-radius:2rem; border-radius:2rem;
bottom:2.3rem;}

.phonecontent {
width:20rem;
height: 34rem;
position:absolute;
top:6rem;
left:1rem;
border:1px solid #1f1f1f;
background:#fff no-repeat top center;
background-size: 20rem auto;
-webkit-border-radius:0.4rem; -moz-border-radius:0.4rem; border-radius:0.4rem;
-webkit-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.9) inset; -moz-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.9) inset; box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.9) inset;
}

@keyframes animatedBackground {
	from { background-position: center 0; }
	to { background-position: center 100%; }
}

.orAndroid {
background-image: url(../images/Wind_Ringtones_Mobile.jpg);
animation: animatedBackground 20s linear infinite
}
